<%-include('header')%>
        
        <h1><%-cidade.rows[0].name%></h1>
        
        <%-include('map')%>

        <h2>Ruas:</h2>

        <div>
                <% ruas.rows.forEach( rua => {%>

                        <%-rua.nome%> | 
                        <%if(rua.tipo_pav == 1 || rua.tipo_pav == 2){%>
                                Pavimentada<br>
                        <%}else{%>
                                Não pavimentada<br>
                        <%}%>
                       


                <%}) %>
                
                
        </div>
        
        

        
       
<%-include('footer')%>