<div id="map"></div>

<script>
    let map = undefined;
    
    let latt;
    let lngg;
    let points = []
    
    function defCentro(latitude,longitude){
        
       latt = latitude;
       lngg = longitude;
    }

    function addCircle(latt, lngg, tipo_pavv){
          elem = {lat: latt, lng: lngg, tipo_pav: tipo_pavv}
          points.push(elem)

    }
    
    

    function initMap() {
        let loc = {lat: latt , lng: lngg};  
        map = new google.maps.Map(document.getElementById('map'), {
        center: loc,
        zoom: 16
      });
      
         
      
      points.forEach(element => {
         
          let circle = new google.maps.Circle({
                  strokeOpacity: 0.8,
                  strokeWeight: 0,
                  fillColor: '#FF0000',
                  fillOpacity: 0.35,
                  map: map,
                  center: {lat: element.lat, lng: element.lng},
                  radius: 10
          });

          if(element.tipo_pav == 1 || element.tipo_pav == 2){
                  circle.strokeColor = '#0000FF';
                  circle.fillColor = '#0000FF';
          }
          /*else if(element.tipo_pav == 2){
                  circle.strokeColor = '#00FF00';
                  circle.fillColor = '#00FF00';
          }*/
          else{
                  circle.strokeColor = '#FF0000';
                  circle.fillColor = '#FF0000';
          }
                
      });
      
  }

      
    

    

    
  </script>
  
 
  <script type ='text/javascript'>defCentro(<%-locations.rows[0].lat%>, <%-locations.rows[0].lng%> )</script>
  
  <%locations.rows.forEach(elem => {%>
          <script type ='text/javascript'>addCircle(<%-elem.lat%>, <%-elem.lng%>, <%-elem.tipo_pav%> )</script>
  <%})%>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCimjCS4dSenUZPXTKHlGZPKEWWZtheewk&callback=initMap"
  async defer></script>

  
  